<link rel="import" href="../lib/core-ajax/core-ajax.html">
<link rel="import" href="../lib/core-list/core-list.html">

<polymer-element name="order-list" attributes="data">
    <template>
        <style>
            :host {
                display: block;
                height: 100%;
            }
            core-list {
                height: 100%;
            }
        </style>
        <core-list data="{{data}}" on-core-activate="{{goOrder}}">
            <template>
                <div class="item">{{ model.t }}</div>
            </template>
        </core-list>
    </template>
    <script>
        Polymer('order-list', {
            goOrder: function goOrder (e) {
                e.preventDefault();
                page('/' + e.detail.data.id);
            },
            dataChanged: function () {
                console.log(arguments[1]);
            }
        })
    </script>
</polymer-element>
